span {
    font-size: 1.6rem;
}

.definition h2 {
    color: #45a29e;
    font-size: 3rem;
}

.definition li {
    margin: 10px 0;
    font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
    .definition li {
        font-size: 1.6rem;
    }
    .definition h2 {
        font-size: 2rem;
    }
}
