.header {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: teal;
    font-family: Montserrat;
    color: #66fcf1;
    font-size: 3rem;
  
}

.title{
    text-align: center;
}

.intro {
    color:#fff;
    font-size: 2rem;
}

.search{
    width: 65%;
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    background-color: #fff;
    padding: 1rem 0;
    padding-left: 1.5rem;
}

input {
    width: 92%;
    font-size: 2rem;
    border: none;
    padding: .4rem ;
   
}
input:focus{
    outline: none;
}
@media screen and (max-width: 600px) {
    .header {
      background-color: olive;
    }
  }
/* 
@media only screen and (max-width: 767px) {
    .header {
        height: 25vh;
        align-items: left;
        padding-left: 1rem;
        font-size: 6rem;
        background-color: red;
    }
    .title{
        text-align: left;
    }
    .search {
        width: 95%;
    }
    .random .result {
        padding-left: 1rem;
    }
    .error, .loading, .random h1, .result h1 {
        font-size: 6rem;
    }
    h4, .intro, .syn, .ant, .result li, span, p{
        font-size: 3rem;
    }
    h2 {
        font-size: 4.5rem;
    }
} */