.header {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0B0C10;
    font-family: Montserrat;
    color: #66fcf1;
    font-size: 3rem;
    padding-left: 4rem;
    @media (max-width: 767px) {
        align-items: left;
        padding-left: 1rem;
    }
}

.title{
    text-align: center;
    @media screen (max-width: 767px) {
        text-align: left;
    }
}

.intro {
    color:#fff;
    font-size: 2rem;
}

.search{
    width: 65%;
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    background-color: #fff;
    padding: 1rem 0;
    padding-left: 1.5rem;
    @media (max-width: 767px) {
        width: 95%;
    }

}

input {
    width: 92%;
    font-size: 2rem;
    border: none;
    padding: .4rem ;
   
}
input:focus{
    outline: none;
}

button {
    background-color: transparent;
    border: none;
    color: #66fcf1;
    font-weight: bold;
    /* padding: 5px; */
}

button:hover {
    background-color: #66fcf1;
    border-color: #66fcf1;
    color:#0B0C10;
}