.syn {
    background-color: #0B0C10;
    color: #fff;
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    text-align: center;
    margin: 5px 3px 3px;
    font-size: 2rem;
    cursor: pointer;
}

.syns h4 {
    margin: 1rem 0 0;
    font-size: 2rem;
    color: #288d8d;
}

@media only screen and (max-width: 767px) {
    .syn {
        font-size: 1.6rem;
    }

    .syns h4 {
        font-size: 1.6rem;
    }
}