.newWord {
    color: #0B0C10;
    font-size: 4.5rem;
    font-weight: bolder;
}

.searchWord {
    font-size: 4.5rem;
    font-weight: bolder;
}

h2 {
    color: #1f2833;
    font-size: 3rem;
    padding-top: 10px;
}

span {
    margin: 5px 0;
    font-size: 2rem;
}

p {
    margin-top: 5px;
    font-size: 2rem;
}

@media only screen and (max-width: 767px) {
    .newWord {
        font-size: 3.5rem;
    }

    .searchWord {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.6rem;
    }

    span {
        font-size: 1.6rem;
    }

}

