:root{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
}

.App {
    font-family: Montserrat;
    justify-content: center;
    align-items: center;
}

.loading {
    padding-top: 50px;
    text-align: center;
    color: #1f2833;
    font-size: 4.5rem;
}

.error {
    padding-top: 50px;
    text-align: center;
    color:red;
    font-size: 4.5rem;
}

.suggestion {
    border: 1px 0 solid grey;
    width: 100%;
    background-color: #fff;
    font-size: 2rem;
}
